
.select {
    width: 100%;
    margin-bottom: 10px;
}

.select select {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.accordion-item {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    padding: 10px;
    font-weight: bold;
}

.accordion-body {
    padding: 10px;
    font-size: 1rem;
}

.form-field {
    margin-bottom: 15px;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer .content {
    text-align: center; 
}


.hero-body {
    text-align: center; 
}


.has-text-centered {
    text-align: center; 
}
