body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
    text-align: center; 
    flex: 1;
}

.hero-body {
    background-color: #4a90e2;
    padding: 4rem 1.5rem;
    color: white;
    text-align: center;
}

.hero-body .title {
    font-size: 3rem;
}

.hero-body .subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.button.is-link {
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.button.is-link:hover {
    background-color: #4cae4c;
}

.footer {
    background-color: #f5f5f5;
    padding: 2rem 0;
    text-align: center;
    margin-top: auto; 
    width: 100%;
}

.footer p {
    font-size: 1rem; 
}

.section {
    padding: 2rem 1.5rem;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#course .container, #advantages .container, #reviews .container {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.column {
    flex: 1;
    margin-right: 1rem;
}

.column:last-child {
    margin-right: 0;
}

input.input {
    margin-bottom: 1rem;
}

input.input, button.button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin-bottom: 1rem;
        width: 100%;
    }

    .hero-body {
        padding: 3rem 1rem;
    }

    .hero-body .title {
        font-size: 2rem;
    }

    .hero-body .subtitle {
        font-size: 1.2rem;
    }

    .button.is-link {
        width: 100%;
        padding: 15px;
    }

    input.input {
        padding: 15px;
    }

    button.button {
        padding: 15px;
    }

}
